# 忽略環境變數檔案 (包含你的機密金鑰)
tool.env
.env

# 忽略 Python 暫存檔
__pycache__/
*.py[cod]
*$py.class

# 忽略 PyInstaller 打包產生的資料夾
build/
dist/
*.spec

# (選配) 如果你不希望把備份下來的私噗也傳上去，可以忽略 backup_js
backup_js/
msg.txt
note/
*.tmp
*.db
*.sh
*.exe
